.about {
    display: flex;
    flex-direction: column;
    height: 520px;
    align-items: center;
    justify-content: center;
    gap: 40px;

    p {
        width: 590px;
        font-size: 14px;
    }
}

.aboutTitle {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;


    img {
        width: 200px;
    }

    span {
        font-size: 24px;
    }
}