.item {
    width: 220px;
    height: 240px;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: 14px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price {
    align-self: flex-end;
}