.mainContent {
    height: 495px;
    background-image: url('../../../public/img/paperbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 39px;
    font-size: 24px;

}

.items {
    display: flex;
    gap: 71px
}